body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  color: var(--dark-red-color);
  font-family: var(--font-medium);
  font-family: var(--font-medium);
  background-color: var(--frame-color);
}

.section {
  padding: 50px 0 70px;
}

.title {
  font-family: var(--font-family);
  font-size: 56px;
  text-transform: uppercase;
  background: linear-gradient(153deg, #800a0e 5.29%, #dd1118 36.54%, #dd1219 65.38%, #80181c 91.83%);
  background-clip: text;
  text-align: center;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.link-anm {
  font-size: 24px;
  font-family: var(--font-medium);
  padding: 18px 95px;
  box-shadow: inset 0 0 0 3px var(--bright-red-color);
  border-radius: 30px;
  color: var(--bright-red-color);
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    background-color: var(--bright-red-color);
    color: var(--white-color);
  }

  &:focus {
    background-color: var(--dark-red-color);
    color: var(--white-color);
    box-shadow: var(--dark-red-color);
  }

  &:active {
    background-color: var(--light-color);
    color: var(--orange);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lock {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}