:root {
  --white-color: #fff;
  --frame-color: #fff8f0;
  --dark-red-color: #620d10;
  --bright-red-color: #bf0909;
  --black-color: #03070a;
  --disabled-color: #bbb;
  --orange: #f77d50;
  --beige-color: #ffd3c3;
  --light-color: #ffede6;
  --hover-color: #ffe0d4;

  --font-regular: "Montserrat", sans-serif;
  --font-medium: "Montserrat", sans-serif;
  --font-semibold: "Montserrat", sans-serif;
  --font-moon: "Moon", sans-serif;
  --font-alkia: "Alkia", sans-serif;


}


%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

//  @extend %bg;


// $accent:#FF6838;
// $default:#31352B;


// %rubik-300 {
//   font-family: 'Rubik', sans-serif;
//   font-weight: 300;
// }

// %rubik-italic {
//   font-family: 'Rubik';
//   font-weight: 400;
//   font-style: italic;
// }


$breakpoints: ("phone": 650px,
  "tablet": 850px,
  "laptop": 992px,
  "desktop": 1280px,
  "desktop-l":1330px);
// @include mq('tablet-2') {