@import 'reset';
@import 'fonts';
@import 'libs';
@import 'vars';
@import 'global';
@import 'mixin';




@import './components/header';
@import './components/menu';
@import './components/hero';
@import './components/for-whom';
@import './components/about';
@import './components/info';
@import './components/plan';
@import './components/selection';
@import './components/question';
@import './components/reviews';