.about {
  font-family: var(--font-semibold);
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background: linear-gradient(90deg, #fff7f4 4.81%, #ffeae8 32.21%, #ffede6 60.58%, #ffdcd8 94.71%);
    width: 100%;
    height: 890px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;

    @include mq('laptop') {
      justify-content: center;
      flex-direction: row-reverse;
    }

    @include mq('tablet') {
      align-items: center;
    }

    @include mq('phone') {}
  }

  &__content {
    max-width: 442px;
    width: 100%;
    padding-top: 30px;
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 600px;
      height: 600px;
      background-color: var(--orange);
      filter: blur(100px);
      z-index: -2;
      border-radius: 20px;

      @include mq('desktop') {
        display: none;
      }
    }
  }

  &__img {
    max-width: 660px;
    width: 100%;



    &--double {
      display: none;
      max-width: 100%;

      @include mq('tablet') {
        display: block;
        height: auto;
        margin-bottom: 40px;
      }
    }

    @include mq('desktop') {
      height: auto;
      max-width: 563px;
    }

    @include mq('laptop') {
      max-width: 360px;
    }

    @include mq('tablet') {
      display: none;
    }

  }

  &__title {
    text-align: start;

    @include mq('desktop') {
      font-size: 53px;
    }

    @include mq('laptop') {
      font-size: 50px;
    }

    @include mq('laptop') {
      font-size: 36px;
    }
  }

  &__subject {
    font-size: 32px;
    line-height: 87%;
    text-decoration: underline;
    display: block;
    margin-bottom: 40px;

    @include mq('desktop') {
      font-size: 28px;
    }

    @include mq('laptop') {
      font-size: 24px;
    }

    @include mq('laptop') {
      font-size: 24px;
    }
  }

  &__item {
    padding-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    @include mq('desktop') {
      font-size: 18px;
      max-width: 563px;
    }

    @include mq('laptop') {
      font-size: 16px;
    }

    @include mq('laptop') {
      font-size: 14px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-image: url(../images/sprite.svg#icon-crown);
      width: 44px;
      height: 35px;
      @extend %bg;
      left: 0;
      filter: invert(12%) sepia(87%) saturate(4065%) hue-rotate(2deg) brightness(103%) contrast(115%);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 40px;
  }

}