.footer {


  @include mq('phone') {
    padding: 50px 0 30px;

  }

  background-color: var(--dark-red-color);

  &__content {
    display: flex;
    justify-content: space-between;


    @include mq('phone') {
      flex-direction: column;
      align-items: center;

    }

  }


  &__logo {
    display: block;

    @include mq('tablet') {
      max-width: 80%;
    }

    @include mq('phone') {
      margin-bottom: 50px;
    }

  }


  &-social__name {

    @include mq('laptop') {
      font-size: 22px;
    }
  }


  &-social__mail {
    font-size: 20px;

    @include mq('laptop') {
      font-size: 18px;
    }
  }
}