.footer-social {
  &:has(.menu-mobile) {
    display: none;
  }


  &__name {
    font-size: 28px;
    line-height: 1.3;
    color: var(--white-color);
    margin-bottom: 30px;
  }

  &__mail {
    display: block;
    color: var(--white-color);
    font-family: var(--font-alkia);
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;
    @extend %bg;
    transition: scale 0.3s;

    &:hover {
      scale: 1.4;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  @include mq('laptop') {
    display: block;
  }
}