.for-whom {
  padding-bottom: 150px;
  
  &__title {
    margin-bottom: 80px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 25px;
  }

  &__item {
    padding: 22px 50px;
    width: 100%;
    max-width: 630px;
    display: flex;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: 0 0 0 1px var(--orange);
    border-radius: 20px;
    transition: box-shadow 0.5s, background-color 0.5s;
    animation-name: fadeInLeft;
    animation-duration: 3s;

    &:hover {
      background-color: var(--white-color);
      box-shadow: var(--beige-color) 0px 22px 70px 4px;
    }
  }

  &__list li:nth-child(even) {
    animation-name: fadeInRight;
    animation-duration: 3s;
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  &__img {
    max-width: 114px;
    width: 100%;
    object-fit: cover;
    margin-right: 25px;
  }

  &__title {
    font-family: var(--font-semibold);
    font-weight: 600;
    font-size: 56px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: linear-gradient(153deg, #800a0e 5.29%, #dd1118 36.54%, #dd1219 65.38%, #80181c 91.83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}