.header {
  padding-top: 140px;

  &__top {
    padding: 50px 0px 20px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &__link {
    color: var(--dark-red-color);
  }
}