.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('laptop') {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 5px;

    @include mq('desktop') {
      margin-right: 0px;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4%;
    font-family: var(--font-medium);
    border-radius: 20px;
    padding: 6px 25px;
    width: fit-content;
    transition: color 0.8s, background-color 0.8s;
    background-color: transparent;

    @include mq('laptop') {
      font-size: 18px;
    }

    &:hover {
      background-color: var(--dark-red-color);
      width: fit-content;
      color: var(--white-color);
    }

    &:focus {
      outline: 2px solid var(--bright-red-color);
      background-color: transparent;
      color: inherit;
    }

    @include mq('desktop') {
      padding: 6px 18px;
    }
  }


  &__btn {
    display: none;
    position: relative;
    bottom: 6px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--dark-red-color);
    align-items: center;
    z-index: 2;
    transition: transform 0.3s;

    &-span,
    &:after,
    &:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      background-color: var(--white-color);
      left: 12px;
    }

    &::before {
      top: 20px;
    }

    &::after {
      bottom: 17px;
    }

    &--active {
      transition: transform 0.3s;

      &::before {
        transform: rotate(45deg);
        top: 50%;
        transition: transform 0.9s;
      }

      &::after {
        transform: rotate(-45deg);
        top: 50%;
        transition: transform 0.9s;
      }
    }

    &--active &-span {
      background-color: transparent;
    }

    @include mq("laptop") {
      display: block;
    }

  }

  // &__logo {
  //  max-width: 70%;
  // } 

}