.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__item:not(:last-child) {
    margin-right: 5px;

  }

  &__link {
    font-weight: 400;
    line-height: 1.4%;
    font-family: var(--font-medium);
    border-radius: 20px;
    padding: 6px 25px;
    width: fit-content;
    transition: color 0.7s, background-color 0.7s;
    background-color: transparent;

    &:hover {
      background-color: var(--dark-red-color);
      border-radius: 20px;
      width: fit-content;
      color: var(--white-color);
    }
  }
}