.question {
  background-color: var(--light-color);
  padding: 70px 0;

  &__box {
    display: flex;
  }

  &__text {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
    color: var(--black-color);
    margin-bottom: 35px;
  }

  &__title {
    font-family: var(--font-alkia);
    font-weight: 800;
    font-size: 56px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__content {
    max-width: 708px;
    width: 100%;
    margin-right: 32px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 56px;
    text-align: center;
  }

  &__img {
    max-width: 707px;
  
    border-radius: 20px;
    object-fit: contain;
  }

  &__info {
    padding-top: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 628px;
    max-width: 100%;
  }

  &__input {
    padding: 14px 20px;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--dark-red-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--black-color);
    text-transform: uppercase;
  }

  &__input::placeholder {
    color: var(--disabled-color);
  }

  &__input:not(:last-child) {
    margin-bottom: 40px;
  }

  &__btn {
    padding: 18px 140px;
    display: block;
    width: fit-content;
  }


}