.reviews {

  &__title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 56px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--dark-red-color);
  }

  &__text {
    text-align: center;
    max-width: 478px;
    width: 100%;
    margin: 0 auto 80px;
  }

  &__box {
    display: flex;
    padding-bottom: 85px;
  }

  &__item {
    padding: 24px;
    box-sizing: border-box;
    background-color: var(--light-color);
    border: 1px solid var(--beige-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    max-width: 368px;
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      background-image: url('../images/icon-reviews.svg');
      object-fit: cover;
      width: 82px;
      height: 60px;
      top: -50px;
      right: 20px;
    }
  }

  .reviews__slider {
    overflow: visible;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    padding-top: 50px;
  }

  .swiper-pagination {
    bottom: 0;


  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: var(--beige-color);
    border-radius: 50px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    background-color: var(--bright-red-color);
  }




  &__list,
  &__rating {
    display: flex;
  }

  &__figure {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__figcaption {
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;
  }

  &__span-blockquote {
    padding-top: 15px;
    display: block;
  }

  &__blockquote {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--dark-red-color);
    box-sizing: border-box;
  }



  &__star {
    width: 24px;
    height: 24px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../images/sprite.svg#icon-rating);
      @extend %bg;
      filter: invert(70%) sepia(59%) saturate(1398%) hue-rotate(357deg) brightness(100%) contrast(110%);
    }
  }

  &__img {
    border-radius: 50px;
    margin-right: 20px;
  }
}