.reviews {


  &__item {
    padding: 24px;
    background-color: var(--light-color);
    border: 1px solid var(--beige-color);
    border-radius: 20px;
    width: 368px;
    max-width: 100%;
  }

  &__list {
    display: flex;
  }


  &__figure {
    display: flex;

    align-items: center;
    margin-bottom: 15px;
  }

  &__figcaption {
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;

  }

  &__span-blockquote {
    padding-top: 15px;
    display: block;
  }

  &__blockquote {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--dark-red-color);
  }

  &__rating {
    display: flex;
  }

  &__star {
    width: 24px;
    height: 24px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../images/sprite.svg#icon-rating);
      @extend %bg;
      filter: invert(70%) sepia(59%) saturate(1398%) hue-rotate(357deg) brightness(100%) contrast(110%);
    }
  }


  &__img {
    border-radius: 50px;
    margin-right: 20px;
  }
}