<section class="for-whom section">
  <div class="container">
    <h2 class="for-whom__title title">Для кого програма</h2>

    <ul class="for-whom__list">

      <li class="for-whom__item">
        <img class="for-whom__img" src="images/glass@1x.png" srcset="images/glass@2x.png" width="114" height="114"
          loading="lazy" alt="логотип картки">
        <p class="for-whom__text">Для експертів та спеціалістів, у яких «не купують», і які хочуть навчитися доносити
          цінність своїх послуг</p>
      </li>

      <li class="for-whom__item">
        <img class="for-whom__img" src="images/red-cap@1x.png" srcset="images/red-cap@2x.png" width="114" height="114"
          loading="lazy" alt="логотип картки">
        <p class="for-whom__text">Для тих, хто прагне стабільного та системного заробітку, уникаючи хаотичних коливань і
          непевності</p>
      </li>

      <li class="for-whom__item">
        <img class="for-whom__img" src="images/typowriter@1x.png" srcset="images/typowriter@2x.png" width="114"
          height="114" loading="lazy" alt="логотип картки">
        <p class="for-whom__text">Для експертів та спеціалістів, які хочуть почати продавати та вийти на стабільний
          дохід 1000$ – 5000$</p>
      </li>

      <li class="for-whom__item">
        <img class="for-whom__img" src="images/laptop@1x.png" srcset="images/laptop@2x.png" width="114" height="114"
          loading="lazy" alt="логотип картки">
        <p class="for-whom__text">Для експертів, які запускають свій перший продукт, хочуть sold out та пробити
          фінансову стелю </p>
      </li>
    </ul>
  </div>
</section>