<header class="header">

  <div class="header__top">

    <div class="container">

      <nav class="menu">

        <a class="logo" href="#">
          <img class="logo__img" src="/images/icons/logo.svg" width="207" height="44" alt="логотип">
        </a>

        <ul class="menu__list">

          <li class="menu__item">
            <a class="menu__link" href="#">Про курс </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">Викладачі</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">Програма</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">Обрати тариф</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#">Контакти</a>
          </li>

        </ul>
      </nav>
    </div>


  </div>


</header>