<header class="header">

  <div class="header__top">

    <div class="container">

      <nav class="menu">

        <a class="logo" href="#">
          <img class="logo__img" src="/images/icons/logo.svg" width="207" height="44" alt="логотип">
        </a>

        <button class="menu__btn" type="button">
          <span class="menu__btn-span"></span>
          <div class="sr-only">відкрити меню</div>
        </button>

        <ul class="menu__list">

          <li class="menu__item">
            <a class="menu__link" href="#for-whom">Про курс </a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#about">Викладачі</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#plan">Програма</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#selection">Обрати тариф</a>
          </li>

          <li class="menu__item">
            <a class="menu__link" href="#contacts">Контакти</a>
          </li>
        </ul>


        <div class="menu-mobile menu-mobile--active">
          <a class="logo" href="#">
            <img class="logo__img" src="/images/icons/logo.svg" width="207" height="44" alt="логотип">
          </a>

          <button class="menu-mobile__btn">
            <span class="menu-mobile__btn-span"></span>
          </button>

          <ul class="menu-mobile__list">
            <li class="menu-mobile__item">
              <a class="menu-mobile__link" href="#for-whom">Про курс </a>
            </li>

            <li class="menu-mobile__item">
              <a class="menu-mobile__link" href="#plan">Програма</a>
            </li>

            <li class="menu-mobile__item">
              <a class="menu-mobile__link" href="#about">Викладачі</a>
            </li>

            <li class="menu-mobile__item">
              <a class="menu-mobile__link" href="#selection">Обрати тариф</a>
            </li>
          </ul>




         <address class="footer-social ">
      <ul class="footer-social__list">

        <li class="footer-social__item">
          <a class="footer-social__link" style="background-image: url('images/icons/icon-telegram.svg');"
            href="https://t.me/savochka_nadiia" target="_blank" rel="noopener noreferrer"
            sr-only="Написати в Telegram"></a>
        </li>

        <li class="footer-social__item">
          <a class="footer-social__link" style="background-image: url('images/icons/icon-instagram.svg');"
            href="https://www.instagram.com/savochka.nadya/" target="_blank" rel="noopener noreferrer"
            sr-only="Написати в instagram"></a>
        </li>

        <li class="footer-social__item">
          <a class="footer-social__link" style="background-image: url('images/icons/icon-facebook.svg');"
            href="https://www.facebook.com/share/18An7xFsQ3/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer"
            sr-only="Написати в facebook"></a>
        </li>
      </ul>
    </address>

        </div>
      </nav>
    </div>
  </div>


</header>