<section class="plan section">
  <div class="container">
    <h2 class="plan__title title">Програма курсу</h2>

    <details class="plan__block">
      <summary>
        <img class="plan__img" src="images/icon-1@1x.png" srcset="images/icon-1@2x.png 2x" width="100" height="100"
          alt="фото Надії">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">1</span>
        <span class="plan__info">Організація наставництва та правила</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>


      <div class="plan__content">

        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Правила проходження</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Як ефективно проходити навчання</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Як полюбити системність і регулярність у веденні блогу, щоб вести його в задоволення
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Аналіз вашої ситуації у продажах. Точка А
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>
    <details class="plan__block">
      <summary>
        <img class="plan__img" src="images/icon-1@1x.png" srcset="images/icon-1@2x.png 2x" width="100" height="100"
          alt="фото Надії">

        <span class="plan__name">Модуль

        </span>
        <span class="plan__span">1</span>
        <span class="plan__info">Організація наставництва та правила</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>


      <div class="plan__content">
        <p class="plan__text">GOOGLEGOOGLE</p>
        <ul class="plan__list">
          <li class="plan__item">
            <p class="plan__text"></p>
          </li>

          <li class="plan__item">
            <p class="plan__text"></p>
          </li>

          <li class="plan__item">
            <p class="plan__text"></p>
          </li>

          <li class="plan__item">
            <p class="plan__text"></p>
          </li>

          <li class="plan__item">
            <p class="plan__text"></p>
          </li>
        </ul>

      </div>
    </details>
  </div>
</section>