<section class="plan section">
  <div class="container">
    <h2 class="plan__title title">Програма курсу</h2>

    <details class="plan__block">
      <summary>
        <img class="plan__img" src="images/icon-1@1x.png" srcset="images/icon-1@2x.png 2x" width="100" height="100"
          alt="фото Надії">

        <span class="plan__name">Модуль

        </span>
        <span class="plan__span">1</span>
        <span class="plan__info">Організація наставництва та правила</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>


      <div class="plan__content">

        <ul class="plan__list">
          <li class="plan__item">
            <p class="plan__text"></p>
          </li>

          <li class="plan__item">
            <p class="plan__text"></p>
          </li>

          <li class="plan__item">
            <p class="plan__text"></p>
          </li>

          <li class="plan__item">
            <p class="plan__text"></p>
          </li>

          <li class="plan__item">
            <p class="plan__text"></p>
          </li>
        </ul>

      </div>
    </details>
  </div>
</section>