<section class="plan section">
  <div class="container">
    <h2 class="plan__title title">Програма курсу</h2>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-1@1x.png" srcset="images/icon-1@2x.png 2x" width="100" height="100"
          alt="фото Надії">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">1</span>
        <span class="plan__info">Організація наставництва та правила</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>


      <div class="plan__content">

        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Правила проходження</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Як ефективно проходити навчання</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Як полюбити системність і регулярність у веденні блогу, щоб вести його в задоволення
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Аналіз вашої ситуації у продажах. Точка А
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-2@1x.png" srcset="images/icon-2@2x.png 2x" width="100" height="100"
          alt="фото дівчини з газетою">

        <span class="plan__name">Модуль

        </span>
        <span class="plan__span">2</span>
        <span class="plan__info">Робота з мисленням</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Самоцінність. Як формувати внутрішню опору та довіряти собі ?</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Синдром самозванця та як приборкати всім відомого “звіра” і подружитись з ним</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Як вибудовувати особисті кордони з клієнтами, учнями та підписниками у блозі
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>
        </ul>
      </div>

    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-3@1x.png" srcset="images/icon-3@2x.png 2x" width="100" height="100"
          alt="фото дівчини з газетою">

        <span class="plan__name">Модуль

        </span>
        <span class="plan__span">3</span>
        <span class="plan__info">Аналіз аудиторії</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Як зрозуміти хто ж наш клієнт?</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Кастдеви. Перший крок до успішного запуску продукту та блогу</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Сегментація? Що це таке?
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>
        </ul>
      </div>

    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-4@1x.png" srcset="images/icon-4@2x.png 2x" width="100" height="100"
          alt="фото склянки в руці">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">4</span>
        <span class="plan__info">Wow-контент в сторіс</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Мої принципи ведення сторіс</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Сюжетні лінії, як у серіалі</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Будуємо цікавий сторітелінг
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Дизайн сторіс
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-5@1x.png" srcset="images/icon-5@2x.png 2x" width="100" height="100"
          alt="фото кави">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">5</span>
        <span class="plan__info">Упакування профілю, як ще один вражаючий дотик</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Розпаковка</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Візуал, який працює</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Тексти, які чіпляють
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Інфопривід дня
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">5</span>
            <p class="plan__text">Позиціонування: ти - унікальний бренд
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">6</span>
            <p class="plan__text">Особистий бренд
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">7</span>
            <p class="plan__text">Стратегія просування особистого бренду
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-6@1x.png" srcset="images/icon-6@2x.png 2x" width="100" height="100"
          alt="фото дівчини і моря">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">6</span>
        <span class="plan__info">Продуктова лінійка</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Як правильно зробити свою продуктову лінійку?</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Вибір воронки</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Маршрут руху підписників
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-7@1x.png" srcset="images/icon-7@2x.png 2x" width="100" height="100"
          alt="фото дівчини і моря">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">7</span>
        <span class="plan__info">Запуск</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Організація навчання</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Покроковий план створення навчання</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Упаковка продукту
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Підсумки навчання
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-8@1x.png" srcset="images/icon-8@2x.png 2x" width="100" height="100"
          alt="фото журналу">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">8</span>
        <span class="plan__info">Монетизація блогу. Прогріви</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Послідовність прогріву</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Стратегія продажів</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Вічний прогрів для постійних продажів
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Як планувати контент для постійних продажів
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">5</span>
            <p class="plan__text">Прогрів під запуск
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">6</span>
            <p class="plan__text">Продажі через прямі ефіри
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">7</span>
            <p class="plan__text">Розбір тригерів для продажів
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-9@1x.png" srcset="images/icon-9@2x.png 2x" width="100" height="100"
          alt="фото годиника">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">9</span>
        <span class="plan__info">Продажі</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Продажі</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Підготовка до продажів</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Продажі на безкоштовному зідзвоні
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Продажі у діректі
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">5</span>
            <p class="plan__text">Закриття заперечень
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">6</span>
            <p class="plan__text">План продажів
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-10@1x.png" srcset="images/icon-10@2x.png 2x" width="100" height="100"
          alt="фото дівчини">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">10</span>
        <span class="plan__info">Кнопка «Просувати» vs ADS-МЕНЕДЖЕР</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Створення та підвʼязка рекламних інструментів та стратегія таргету</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Розбір рекламного кабінету</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Рекламний креатив та як покращувати результати
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Урок по роботі з аудиторіями
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">5</span>
            <p class="plan__text">Запуск реклами через кнопку “просувати”
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">6</span>
            <p class="plan__text">Запуск таргету через рекламний кабінет
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">7</span>
            <p class="plan__text">Аналіз та масштабування таргетованої реклами
            </p>
          </li>

          <li class="plan__item ">
            <svg class="plan__subject plan__subject--icon">
              <use xlink:href="images/sprite.svg#icon-star"></use>
            </svg>
            <p class="plan__text">Домашні завдання
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-11@1x.png" srcset="images/icon-11@2x.png 2x" width="100" height="100"
          alt="фото годиника">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">11</span>
        <span class="plan__info">Автоворонки</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Введення в автоворонки</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Основа продажів через автоворонки</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Видача лід магніту за підписку
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Формати автоворонок
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">5</span>
            <p class="plan__text">Принцип роботи автоворонк
            </p>
          </li>

        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-12@1x.png" srcset="images/icon-12@2x.png 2x" width="100" height="100"
          alt="фото бренда louis vuitton">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">12</span>
        <span class="plan__info"> Telegram</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Telegram-канал як соціальна мережа, в чому особливість та яка мета</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Упаковка і опис Telegram-каналу</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Контент у Telegram
            </p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">4</span>
            <p class="plan__text">Як переводити аудиторію з Telegram в інші соціальні мережі?
            </p>
          </li>
        </ul>

      </div>
    </details>

    <details class="plan__block wow animate__animated">
      <summary>
        <img class="plan__img" src="images/icon-13@1x.png" srcset="images/icon-13@2x.png 2x" width="100" height="100"
          alt="фото lдівчини у басейна">

        <h2 class="plan__name">Модуль

        </h2>
        <span class="plan__span">13</span>
        <span class="plan__info"> Блогери</span>

        <svg class="plan__arrow">
          <use xlink:href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </summary>

      <div class="plan__content">
        <ul class="plan__list">
          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number plan__number--one">1</span>
            <p class="plan__text">Рекламна подача для блогерів</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">2</span>
            <p class="plan__text">Підводка</p>
          </li>

          <li class="plan__item">
            <h3 class="plan__subject">Урок</h3>
            <span class="plan__number">3</span>
            <p class="plan__text">Як створити якісне ТЗ
            </p>
          </li>
        </ul>

      </div>
    </details>

  </div>
</section>