<section class="question">
  <div class="container">
    <div class="question__box">

      <div class="question__content">
        <div class="question__top">
          <h2 class="question__title"> Залишились
          </h2>
          <span class="question__subtitle">питання?</span>
        </div>
        <img class="question__img" src="images/question@1px.webp" srcset="images/quastion@2px.webp 2x" loading="lazy"
          width="704" height="616" alt="фото друкарки">
      </div>

      <div class="question__info">
        <p class="question__text">[ Залиш свої контакти — і я розкажу, як розкрити твій бренд! ]</p>

        <form class="question__form" action="#">
          <label class="sr-only" for="name">ім'я</label>
          <input class="question__input" type="text" required placeholder="Ім'я" id="name">

          <label class="sr-only" for="number">номер телефону</label>
          <input class="question__input" type="tel" required placeholder="номер телефону" id="number">

          <label class="sr-only" for="email">Email</label>
          <input class="question__input" type="email" required placeholder="email" id="email">

        </form>
      </div>
    </div>

  </div>
</section>