<section class="reviews">
  <div class="container">
    <div class="reviews">

      <ul class="reviews__list">

        <li class="reviews__item">
          <figure class="reviews__figure">

       <img class="reviews__img" src="images/reviews/marina@1x.png" srcset="images/reviews/marina@2x.png 2x"
                alt="фото Марини" width="89" height="89">
            <figcaption class="reviews__figcaption">
       
              <span class="reviews__name">Марина</span>
              <div class="reviews__rating">
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
              </div>
            </figcaption>
          </figure>
          <blockquote class="reviews__blockquote">Надюша, я безмежно вдячна Мирославі, що вона
            порадила мені прийти до тебе , але я пошкодувала.
            Пошкодувала що не зробила цього раніше.
            Ти дуже крута, в тобі стільки енергії та драйву,
            кожній твоїй дії можна тільки вчитися.
            У мене ще довгий шлях до точки Б , але якщо
            обернутися , то з точки А я пішла дуже вилитими
            кроками і все завдяки тобі.
            <span class="reviews__span-blockquote"> Дякую , найкраща ♥️</span>
          </blockquote>


        </li>
        <li class="reviews__item"></li>
        <li class="reviews__item"></li>
      </ul>
    </div>
  </div>
</section>