<section class="reviews section">

  <div class="container">
    <h2 class="reviews__title">Відгуки наших Учениць</h2>
    <p class="reviews__text">Більше 300 задоволених випускників.
      Хочеш бути однією з них?</p>

    <div class="reviews__box swiper swiper-reviews">

      <ul class="reviews__list swiper-wrapper ">

        <li class="reviews__item swiper-slide wow animate__animated reviews__item--one">
          <figure class="reviews__figure">

            <img class="reviews__img" src="images/reviews/marina@1x.webp" srcset="images/reviews/marina@2x.webp 2x"
              alt="фото Марини" width="89" height="89">
            <figcaption class="reviews__figcaption">

              <span class="reviews__name">Марина</span>
              <div class="reviews__rating">
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
              </div>
            </figcaption>
          </figure>
          <blockquote class="reviews__blockquote">Надюша, я безмежно вдячна Мирославі, що вона
            порадила мені прийти до тебе , але я пошкодувала.
            Пошкодувала що не зробила цього раніше.
            Ти дуже крута, в тобі стільки енергії та драйву,
            кожній твоїй дії можна тільки вчитися.
            У мене ще довгий шлях до точки Б , але якщо
            обернутися , то з точки А я пішла дуже вилитими
            кроками і все завдяки тобі.
            <span class="reviews__span-blockquote"> Дякую , найкраща ♥️</span>
          </blockquote>


        </li>

        <li class="reviews__item swiper-slide wow animate__animated reviews__item--two">
          <figure class="reviews__figure">

            <img class="reviews__img" src="images/reviews/katerina@1x.webp" srcset="images/reviews/katerina@2x.webp 2x"
              alt="фото Катерини" width="89" height="89">
            <figcaption class="reviews__figcaption">

              <span class="reviews__name">Катерина</span>
              <div class="reviews__rating">
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
              </div>
            </figcaption>
          </figure>
          <blockquote class="reviews__blockquote">Уроки дуже цікаві. Я от дивлюсь вже шостий в 5 модулі і попередні
            переглянула на одному диханні. Дуже легко сприймається інформація, все так чітко і з прикладами.
            Ти дійсно розклала по поличкам і підсвітила моменти, на які я не звернула увагу і які можуть покращити
            подачу інформації.


            <span class="reviews__span-blockquote"> Дякую тобі! 🌸</span>
          </blockquote>
        </li>

        <li class="reviews__item swiper-slide wow animate__animated reviews__item--three">
          <figure class="reviews__figure">
            <img class="reviews__img" src="images/reviews/miroslava@1x.webp"
              srcset="images/reviews/miroslava@2x.webp 2x" alt="фото Мирослава" width="89" height="89">
            <figcaption class="reviews__figcaption">

              <span class="reviews__name">Мирослава</span>
              <div class="reviews__rating">
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
              </div>
            </figcaption>


          </figure>
          <blockquote class="reviews__blockquote">Дуже-дуже тобі дякую за курс, він неймовірний.
            І він не просто про вміння вести інста,
            він про зміну мислення !
            Тепер я це можу сказати на 100 відсотків!
            Квитки у Рим купила)
            Вішлист на цей рік активно почав здійснюватись
            під час курсу.
          </blockquote>
        </li>

        <li class="reviews__item swiper-slide wow animate__animated ">
          <figure class="reviews__figure">
            <img class="reviews__img" src="images/reviews/sofia.webp" srcset="images/reviews/sofia.webp 2x"
              alt="фото Софія" width="89" height="89">
            <figcaption class="reviews__figcaption">

              <span class="reviews__name">Sofia</span>
              <div class="reviews__rating">
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
              </div>
            </figcaption>
          </figure>
          <blockquote class="reviews__blockquote">Надюша, я хочу сказати що 8 модуль це просто вау 🤩
            Просто розжувала, і поклала до роту 😁😅
            Я в голові, все собі по поличкам розклала.
            Навіть питань немає ✨
          </blockquote>
        </li>

        <li class="reviews__item swiper-slide wow animate__animated ">
          <figure class="reviews__figure">
            <img class="reviews__img" src="images/reviews/liana.webp" srcset="images/reviews/liana.webp 2x"
              alt="фото Ліани" width="89" height="89">
            <figcaption class="reviews__figcaption">

              <span class="reviews__name">Liana</span>
              <div class="reviews__rating">
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
              </div>
            </figcaption>
          </figure>
          <blockquote class="reviews__blockquote">Привіт усім 🙋🏻‍♀️
            💁🏼‍♀️Інсайт з 7-го модуля
            Хоть я не планувала запускати своє навчання ,але модуль видався дуже цікавий та цінний

            💁🏼‍♀️Скажу ,що змотивував,і я задумалась теж над запуском навчанням ,звичайно в майбутньому


          </blockquote>
        </li>

        <li class="reviews__item swiper-slide wow animate__animated ">
          <figure class="reviews__figure">
            <img class="reviews__img" src="images/reviews/victoria.webp" srcset="images/reviews/victoria.webp 2x"
              alt="фото Ліани" width="89" height="89">
            <figcaption class="reviews__figcaption">

              <span class="reviews__name">Victoria</span>
              <div class="reviews__rating">
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
              </div>
            </figcaption>
          </figure>
          <blockquote class="reviews__blockquote">Надюша, спасибо тебе за этот классный выпускной 🥹 Ты наш двигатель,
            наш мотор и мотиватор! После встречи хочется наебашить тех сторис, чтобы аж за ушами трещало 😆
            Такая энергетика, капец 🤩
            Я хочу снять квартиру и жить возле тебя ))) чтобы был бесконечный заряд энергии 🥳 Так держать, моя дорогая
            💐


          </blockquote>
        </li>
      </ul>

      <div class="swiper-pagination  reviews__pagination"></div>
    </div>

  </div>
</section>