<section class="reviews">
  <div class="container">
    <div class="reviews">

      <ul class="reviews__list">

        <li class="reviews__item">
          <figure class="reviews__figure">
            <img class="reviews__img" src="images/reviews/marina@1x.png" srcset="images/reviews/marina@2x.png 2x"
              alt="фото Марини" width="89" height="89">

            <figcaption class="rewiews__figcaption">
              <span class="reviews__name">Марина</span>
              <div class="reviews__rating">
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>
                <span class="reviews__star"></span>



              </div>
            </figcaption>

          </figure>
        </li>
        <li class="reviews__item"></li>
        <li class="reviews__item"></li>
      </ul>
    </div>
  </div>
</section>