<section class="selection section">
  <div class="selection__top">
    <h2 class="selection__title">Обери свій рівень росту</h2>
    <p class="selection__text">[ Чіткі стратегії, реальні кейси, гарантований результат. Від базових знань до профі —
      твій шлях до успіху! ]</p>
  </div>
  <div class="container">

    <div class="selection__box">
      <article class="selection__content selection__content--light wow animate__animated">
        <span class="selection__tag">[ 01 ]</span>
        <h3 class="selection__name">Базовий </h3>

        <ul class="selection__list">
          <li class="selection__item">
            <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>8 тижнів навчання

          </li>
          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до 10 практичних модулів</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до табличок</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до окремої платформи з уроками</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>шаблони для контент-планів і прогрівів</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>спільний чат</li>

          <li class="selection__item selection__item--span">Зворотній фідбек</li>

        </ul>

        <div class="selection__rates">
          <span class="selection__price-old">26 000 <span>грн</span></span>

          <h3 class="selection__price-new">15 990 <span>грн</span></h3>

          <button class="selection__btn" type="button">OБРАТИ
            <svg class="selection__arrow-right">
              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>


      </article>

      <article class="selection__content selection__content--medium wow animate__animated">
        <span class="selection__tag">[ 02 ]</span>
        <h3 class="selection__name">Груповий</h3>

        <ul class="selection__list">
          <li class="selection__item">
            <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>2 місяці навчання

          </li>
          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до 13 практичних модулів</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до табличок</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до окремої платформи з уроками</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>шаблони для контент-планів і прогрівів</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>спільний чат</li>


          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>перевірка домашніх завдань</li>



          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>додаткові спікери вартістю 1000 євро</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>групові розбори з наставником в Zoom</li>
        </ul>

        <div class="selection__rates">
          <span class="selection__price-old">43 000 грн <span>грн</span></span>

          <h3 class="selection__price-new">38 000 <span>грн</span></h3>

          <button class="selection__btn" type="button">OБРАТИ
            <svg class="selection__arrow-right">
              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>


      </article>

      <article class="selection__content selection__content--pro wow animate__animated">
        <span class="selection__tag">[ 03 ]</span>
        <h3 class="selection__name">ІНДИВІДУАЛЬНИЙ</h3>

        <ul class="selection__list">
          <li class="selection__item">
            <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>3 місяці навчання

          </li>
          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до 13 практичних модулів</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до табличок</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>доступ до окремої платформи з уроками</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>шаблони для контент-планів і прогрівів</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>Особиста робота з Надією та комунікація</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>реклама у блозі Надії</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>індивідуальна стратегія саме для тебе</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>додаткові спікери вартістю 1000 євро</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>особисті зідзвони з Надією по запиту</li>

          <li class="selection__item"> <svg class="selection__icon">
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>+ Бонусні уроки від Надії </li>

        </ul>

        <div class="selection__rates">
          <span class="selection__price-old">2 000 <span>$</span></span>

          <h3 class="selection__price-new">1 500 <span>$</span></h3>

          <button class="selection__btn" type="button">OБРАТИ
            <svg class="selection__arrow-right">
              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </article>
    </div>
    <span>
    </span>

  </div>

</section>